server:
  interface: 0.0.0.0
  access-control: 10.0.0.0/8 allow
  access-control: 172.16.0.0/12 allow
  access-control: 192.168.0.0/16 allow
  access-control: 0.0.0.0/0 refuse
  port: 5353
  directory: "/opt/unbound/etc/unbound"
  do-daemonize: no
  username: unbound
  pidfile: "/tmp/unbound.pid"
  hide-identity: yes
  hide-version: yes
  identity: ""
  version: ""
  qname-minimisation: yes
  qname-minimisation-strict: yes
  prefetch: yes
  prefetch-key: yes
  rrset-roundrobin: yes
  harden-glue: yes
  harden-short-bufsize: yes
  harden-algo-downgrade: yes
  harden-dnssec-stripped: yes
  harden-below-nxdomain: yes
  harden-referral-path: yes
  val-clean-additional: yes
  use-caps-for-id: yes
  deny-any: yes
  minimal-responses: yes
  aggressive-nsec: yes
  edns-buffer-size: 1232
  max-udp-size: 1232
  do-not-query-localhost: yes
  do-ip6: no
  do-tcp: yes
  tcp-upstream: yes
  use-syslog: no
  tls-cert-bundle: "/etc/ssl/certs/ca-certificates.crt"
  auto-trust-anchor-file: "/var/lib/unbound/root.key"
  private-address: 10.0.0.0/8
  private-address: 172.16.0.0/12
  private-address: 192.168.0.0/16
  private-address: 169.254.0.0/16
  private-address: 100.64.0.0/10
  num-threads: 1
  so-reuseport: no
  so-sndbuf: 0
  msg-cache-size: 32m
  rrset-cache-size: 64m
  infra-cache-numhosts: 20000
  cache-min-ttl: 0
  cache-max-ttl: 21600
  cache-max-negative-ttl: 900
  serve-expired: no
  extended-statistics: yes
  statistics-inhibit-zero: yes
  module-config: "respip validator iterator"
{% for source_name in xray_dns_source_names %}
{% set policy = xray_dns_sources[source_name] %}
rpz:
  name: "{{ source_name }}"
  url: "{{ policy.url }}"
  zonefile: "{{ policy.zonefile }}"
  rpz-action-override: nxdomain
  rpz-log: no
{% endfor %}

remote-control:
  control-enable: yes
  control-use-cert: no
  control-interface: /run/unbound/unbound.ctl

forward-zone:
  name: "."
  forward-tls-upstream: yes
  forward-addr: 1.1.1.1@853#cloudflare-dns.com
  forward-addr: 1.0.0.1@853#cloudflare-dns.com
  forward-addr: 94.140.14.140@853#unfiltered.adguard-dns.com
  forward-addr: 94.140.14.141@853#unfiltered.adguard-dns.com
