[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = false
interpreter_python = auto_silent
pipelining = true
host_key_checking = false
stdout_callback = default
result_format = yaml
display_failed_stderr = true
local_tmp = /tmp/ansible-local

[ssh_connection]
transfer_method = piped
control_path_dir = /tmp/ansible-cp
